.dash {
    background-image: url(/src/assets/images/bank.jpeg);
    
    z-index: 100;
    color: #EDF0EE;
    overflow-x: hidden ;
}
.dashboard {
    background-color: #8ab94dc0;

}
.row {
    color: black;
}
